asyncio==3.4.3
atomicwrites==1.4.0
attrs==21.4.0
cffi==1.15.0
colorama==0.4.4
colorzero==2.0
flake8==4.0.1
gevent==21.12.0
gpiozero==1.6.2
greenlet==1.1.2
iniconfig==1.1.1
mccabe==0.6.1
mypy==0.931
mypy-extensions==0.4.3
numpy==1.19.5
opencv-python==4.5.3.56
packaging==21.3
Pillow==8.4.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.0.1
scipy==1.5.4
sounddevice==0.4.4
tkgpio==0.1
tomli>=1.0
typing_extensions==4.0.1
websocket-client==1.2.3
websockets==9.1
zope.event==4.5.0
zope.interface==5.4.0
